.header {
  background-color: black;
  color: white;
}

.menu_header .link {
  text-decoration: none;
  color: white;
  list-style: none;
}

.body {
  background-color: rgb(142, 182, 235);
}

.title {
  color: white;
  font-size: 50px;
}

.firstp {
  color: white;
  font-size: 20px;
}

.plans {
  color: white;
  background-color: rgb(59, 168, 59);
  border-radius: 20px;
  display: inline-block;
  padding: 10px;
}

.secondp {
  color: white;
  font-size: 10px;
}
.image {
  background-image: url ("../images/premium_dancer.png");
  background:  rgb(142, 182, 235;
}
